{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" alt="{{ post.author }}" height="48" width="48" src="img/avatars/{{ post.author }}.png">

                        <h2 class="post-title">{{ post.title }}</h2>

                        <p class="post-meta">
                            By {{ post.author}}
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{ post.content }}
                        </p>
                    </div>
                </section>
            </div>
{% endfor %}
            <div>
                <p>Page {{ page }}</p>
                <a href="/home?p={{ next }}">Next Page</a>
            </div>
{% endblock %}
